/* import poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: #f7f7f8;
}

h1 {
  color: #343541;
  font-size: 60px;
  font-weight: 500;
  text-align: center;
  margin: 20px 0;
}

.description {
  color: #343541;
  font-size: 19px;
  text-align: center;
  /* card  */
  max-width: 400px;
  margin: 0 auto;
  padding: 26px;

  background: #ececf1;
  border-radius: 10px;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.15);
}

#app {
  width: 100vw;
  height: 100vh;
  background: #f7f7f8;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

#lad-image {
  /* center image */
  margin: 0 auto;
  /* center image */
  display: block;
  transform: scale(1) rotate(-360deg);
  transition: all 0.3s ease-in-out;
}

/* on click lad-image, bigger scale, shadow, smooth animation */
#lad-image:hover {
  transform: scale(1.3) rotate(360deg);
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

#chat_container {
  flex: 1;
  width: 100%;
  height: 100%;
  overflow-y: scroll;

  display: flex;
  flex-direction: column;
  gap: 10px;

  -ms-overflow-style: none;
  scrollbar-width: none;

  padding-bottom: 20px;
  scroll-behavior: smooth;
}

/* hides scrollbar */
#chat_container::-webkit-scrollbar {
  display: none;
}

.wrapper {
  width: 100%;
  padding: 15px;
}

.ai {
  background: #ececf1;
  /* subtile border */
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1);
}

.chat {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;

  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 10px;
}

.profile {
  width: 36px;
  height: 36px;
  border-radius: 5px;
  background: #ca1630;

  display: flex;
  justify-content: center;
  align-items: center;
}

.ai .profile {
  background: transparent;
  /* subtle gray bg */
  background: #f7f7f8;
}

.profile img {
  width: 60%;
  height: 60%;
  object-fit: contain;
}

.ai .profile img {
  width: 80%;
  height: 80%;
  object-fit: contain;
}

.message {
  flex: 1;

  color: #343541;
  font-size: 20px;

  max-width: 100%;
  overflow-x: scroll;

  /*
   * white space refers to any spaces, tabs, or newline characters that are used to format the CSS code
   * specifies how white space within an element should be handled. It is similar to the "pre" value, which tells the browser to treat all white space as significant and to preserve it exactly as it appears in the source code.
   * The pre-wrap value allows the browser to wrap long lines of text onto multiple lines if necessary.
   * The default value for the white-space property in CSS is "normal". This tells the browser to collapse multiple white space characters into a single space, and to wrap text onto multiple lines as needed to fit within its container.
  */
  white-space: pre-wrap;

  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* hides scrollbar */
.message::-webkit-scrollbar {
  display: none;
}

form {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 10px;
  background: #f7f7f8;

  /* border and shadow */
  border-radius: 10px;
  box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.1);

  display: flex;
  flex-direction: row;
  gap: 10px;
}

/* focus, bigger shadow, subtile border, smooth animation */
form:focus-within {
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-in-out;
}

/* while form not in focus, return the previous smooth animation, ease in out */
form:not(:focus-within) {
  transition: all 0.3s ease-in-out;
}

textarea {
  width: 100%;

  color: #1d2125;
  font-size: 18px;

  padding: 10px;
  background: transparent;
  border-radius: 5px;
  border: none;
  outline: none;
}

button {
  outline: 0;
  border: 0;
  cursor: pointer;
  background: transparent;
}

/* hover subtle styling when clicking a send button */
button:hover {
  background: #eeeeee;
  border-radius: 5px;
}

/* now, focus within, active, darker gray for button */
button:active {
  background: #e0e0e0;
  border-radius: 5px;
}

form img {
  width: 30px;
  height: 30px;
}

/* media query for less or equal than 444 px, responsiveness, smaller text, etc... */
@media (max-width: 444px) {
  h1 {
    font-size: 52px;
  }

  .description {
    font-size: 17px;
  }

  .message {
    font-size: 16px;
  }

  /* responsive textarea, everytime I focus on it on iphone, it's not responsive */
  textarea {
    font-size: 12px;
  }
}
